@font-face{
    font-family: uber;
    src:url(./assets/font/UberMoveMedium.otf)
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: uber;
    @apply text-cream;
}